$ npm config set proxy http://server:port
$ npm config set https-proxy http://server:port

#公司镜像
npm config set registry "http://repository.devops.vanke.com/repository/"

npm install --python=python2.7 --registry=ry=http://repository.devops.vanke.com/repository/npm-group/  &/  && npm run build

npm install  --save  nodent-runtime@3.2.1 --registry=http://repository.devops.vanke.com/repository/npm-taobao/



npm config set proxy http://server:port
npm config set https-proxy http://server:port





#淘宝镜像
npm config set registry https://registry.npm.taobao.org